.board-container {
    border: 1px solid green;
    /*width: 60vw;
    height: 60vh;*/
    width: 800px;
    height: 400px;
}

.board-item {
    border: 1px solid red;
    display: inline-block;
}

.board-tile {
    border: 1px solid red;
    display: inline-block;
}